h1.heading{
  text-align: center;
}
.addBtn {
  background-color: #80c2bd;//8FD8D2
  border: none;
  color: solid white;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.table1 {
  width:100%;
  padding: 0;
  text-decoration: none;
  color: inherit;
  //border:dashed;
}
tr:hover{
  background-color: #8FD8D2;

  i:hover{
    background-color: white;
  }
}

body { font-family: sans-serif; }
#id_confrmdiv
{
    display: none;
    background-color:white;
    border-radius: 5px;
    border: 2px solid black;
    position: fixed;
    width: 350px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#id_continuediv
{
  display: none;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    position: fixed;
    width: 350px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#id_confrmdiv button {
    background-color: #8FD8D2;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#id_continuediv button {
  background-color:#8FD8D2;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 300px;
  cursor: pointer;
}
#id_confrmdiv .button:hover
{
    background-color:#8FD8D2;
}
#id_continuediv .button:hover
{
    background-color:#8FD8D2;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}
#continueBox .message
{
    text-align: left;
    margin-bottom: 8px;
}
#id_truebtn {
  margin: 5%;
  background-color: #8FD8D2;
}
#truebtn2{
  margin: 5%;
  background-color: #8FD8D2;
}

// .row {
//   text-align:center;
// }


