/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  // background:#FFF0E3;;
  background: #f1faf9;
  // font-family: 'Patua One', cursive;
  font-family: 'Ubuntu Mono', monospace;
  height: 100vh;
  font-size: 1.2em;
}

#container {
 display: grid;
 grid-template-columns: 70px auto;
 height: 100%;

 #content {
     padding: 30px 50px;

     ul {
         list-style-type: none;
         margin:0;padding:0;

         li {
             background: #fff;
             border-radius: 8px;
             padding: 20px;
             margin-bottom: 8px;

             a {
                 font-size: 1.5em;
                 text-decoration: none;
                 font-weight: bold;
                 color:#00A8FF;
             }

             ul {
                 margin-top: 20px;

                 li {
                     padding:0;

                     a {
                         font-size: 1em;
                         font-weight: 300;
                     }
                 }
             }
         }
     }
 }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center
}

.button_right {
  margin-top: 5px;
  margin-right: 30px;
  position:absolute;
  top:0;
  right:0;
  // background: #8FD8D2;
  // color: white;
}

.button_left {
  margin-top: 5px;
  margin-left: 30px;
  position: relative;;
  top:0;
  left:0;
}

footer{
  text-align: center;
}
