<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">home</i>
      </a>
    </li>
    <!-- <li>
        <a routerLink="sign-in">
          <i class="material-icons">fingerprint</i>
        </a>
      </li> -->
      <!-- <li>
        <a routerLink="product-details">
          <i class="material-icons">view_carousel</i>
        </a>
      </li> -->
      <li>
          <a routerLink="products-page">
            <i class="material-icons">view_list</i>
          </a>
        </li>
        <!-- <li>
          <a routerLink="thank-you">
            <i class="material-icons">view_carousel</i>
          </a>
        </li> -->
        <li *ngIf="login_message != 'no'">
            <a routerLink="checkout">
              <i class="material-icons">add_shopping_cart</i>
            </a>
          </li>
  </ul>
</nav>
