<div *ngIf="login_message != 'yes'">
    <h1>Please Sign In To View Your Cart.</h1>
    <ul>
        <li>
          <button class="btn btn-primary" style="background: #8FD8D2;margin-top: 5px;
          margin-right: 30px;
          position:absolute;
          top:0;
          border: none;
          right:0;" routerLink="../sign-in">
                <p class="buttonText">Go to Sign In</p>
              </button>
        </li>
      </ul>
      <br><br>
      <hr>
  </div>


<div *ngIf="login_message != 'no'">
  <button class="btn btn-primary" style="background: #8FD8D2;margin-top: 5px;
  margin-right: 30px;
  position:absolute;
  top:0;
  right:0;
  border: none;"
  button #submit (click)="signOut()">
        <p class="buttonText">Sign Out</p>
  </button>

<h1 class= heading> Checkout </h1>
<table class="table1">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit Quantity</th>
  </tr>
  
  <tr *ngFor="let productId of checkout; let i = index"> 

    <td>{{testData[i][2]}}</td>
    <td>{{price}}</td>
    <td>{{testData[i][1]}}</td>
      <!-- <td> {{display.productName}}</td>
      <td>{{display.price }}</td> -->

    <!-- <select [(ngModel)]="selectedValue" (ngModelChange)="tmp($event)" class =sel style="display:inline">
        <option *ngFor="let option of options">{{option}}</option>
  
    </select> -->

    <!-- <select class=sel id="mySelect" onchange="updateCart()" style="display:inline">
      <option value="amount" *ngFor="let option of range(testData[i][3]); let j = index" selected="{{j+1 ==  testData[i][1] ? 'selected' : ''}}">
        {{option}} 
      </option>
    </select> -->

    <!-- [(ngModel)]="selectedValue" (ngModelChange)="updateCart($event, checkout[i][0])" (change)="updateCart($event, checkout[i][0])" -->
    <!-- <select class=sel style="display:inline" [(ngModel)]="selectedValue" (ngModelChange)="updateCart($event, checkout[i][0])"> -->
    <select class =sel style="display:inline" [(ngModel)]="selectedValues[i]" (ngModelChange)="updateCart($event, checkout[i][0])">
      <option *ngFor="let option of range(testData[i][3]); let j = index" selected="{{j+1 ==  testData[i][1] ? 'selected' : ''}}">
        {{option}} 
      </option>
    </select>
  </tr>
</table>

<h3>Total: ${{ total | number:"0.2" }}</h3>

<div class = "row">
  <button class="btn btn-primary" style="background: #8FD8D2;padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  border: none;
  width: 15%;" type="submit" (click)="confirmPurchase()">Confirm Purchase</button>
</div>
</div>


