<h1 class= heading> Checkout </h1>
<table class="table1">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit Quantity</th>
  </tr>

  <!-- <tr *ngFor="let display of checkout"> -->

  <tr *ngFor="let productId of checkout; let i = index"> 

    <td>{{testData[i][2]}}</td>
    <td>{{testData[i][0]}}</td>
    <td>{{testData[i][1]}}</td>
      <!-- <td> {{display.productName}}</td>
      <td>{{display.price }}</td> -->

    <!-- <select [(ngModel)]="selectedValue" (ngModelChange)="tmp($event)" class =sel style="display:inline">
        <option *ngFor="let option of options">{{option}}</option>
  
    </select> -->
    <select [(ngModel)]="selectedValues[i]" class =sel style="display:inline">
      <option *ngFor="let option of range(testData[i][3])">
        {{option}}
      </option>
    </select>
  </tr>



    
</table>


<h3>Total: {{ total }}</h3>

<div class = "row">
<button class=addBtn type="submit">Confirm Purchase</button>