h1.heading{
  text-align: center;
}
.addBtn {
  background-color: #0026ff;
  border: none;
  color: white;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.table1 {
  width:100%;
  padding: 0;
  text-decoration: none;
  color: inherit;
  //border:dashed;
}
.row {
  text-align:center;
}
