<h1 class= heading> Electronics Available</h1>
<!-- <div>
  <button (click)="postProductInfo()">Post products</button>
  <button (click)="postProductQuantity()">Post products</button>
  </div> -->

  <!-- {{info.quantity}}
  *ngFor="let info of infoForProducts" -->
<body>
  <table cellspacing="2" class="table1">
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>

    <tr *ngFor="let product of products" >
      <td>
      <!-- <div style="display:inline-block; vertical-align:center;"> -->
       <img src="../../assets/img/{{product.image}}"
        style="width:80px; height:60px; margin-left: auto; margin-right: auto;" />
      <!-- </div> -->
      <div style="display: inline-block; padding:40px;">
        <a routerLink="/product-details/">{{product.productName}}</a>
      </div>
      </td>
      <td class="row">${{product.price | number:"0.2"}}</td>
      <td class="row">{{product.quantity}}</td>

      <!-- <td *ngFor="let info of infoForProducts">
        {{info.quantity}} bye
      </td> -->



      <td class="row">
        <button class=addBtn type="submit">Add</button>
      </td>

    </tr>
  </table>
</body>
