<script src="../path/to/angular-url-encode/dist/angular-url-encode.js"></script>

<h1 class= center> <strong>Products Available</strong></h1>
<hr>
   <div *ngIf="login_message != 'no'">
    <button class="btn btn-primary" style="background: #8FD8D2;margin-top: 5px;
    margin-right: 30px;
    position:absolute;
    top:0;
    border: none;
    right:0;"
    button #submit (click)="signOut()">
          <p class="buttonText">Sign Out</p>
        </button>
    <table class="table1">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Add to Cart</th>
      </tr>

      <tr *ngFor="let product of items$" >
        <td>
        <img src="../../assets/img/{{product.image}}" style="width:80px; height:60px; margin-left: auto; margin-right: auto;" />
        <div style="display: inline-block; padding:40px;">
            <a [routerLink]="['/product-details']" [queryParams]="{ productName: product.productName }">{{product.productName}}</a>
        </div>
        </td>
        <td>${{product.price | number:"0.2"}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <button class=addBtn type="submit" (click)="addedToCart()">
          <i class="material-icons">add_shopping_cart</i>
        </button>
        </td>
          <div id="id_confrmdiv"> Would you like to add this item to your cart? <br>
          <button id="id_truebtn" type="submit" (click)="addToCart(product)">Yes</button>
          <button id="id_falsebtn">No</button>
        </div>
        <div id="id_continuediv"> Would you like to checkout or continue shopping?
          <button id="truebtn2" [routerLink]="['/checkout']" [queryParams]="this.addedProducts">Checkout</button>
          <button id="falsebtn2">Continue Shopping</button>
        </div> </tr>
  </table>

</div>

<div *ngIf="login_message != 'yes'">
    <h1>Please Sign In to Browse: </h1>
    <ul>
        <li  style="background: #f1faf9;">
          <button class="btn btn-primary" style="background: #8FD8D2;margin-top: 5px;
          width:200px;
          border: none;"
          routerLink="../sign-in">
                <p class="buttonText">Go to Sign In</p>
              </button>
        </li>
      </ul>
      <br><br>
  </div>


<footer>
    <hr>
    CST438. 2018 &copy; Manjit Gurcha. Raeleen Watson. Irais Gopar <br />
</footer>
