<!DOCTYPE html>
<html>
<h1 class=pdetails>Electronic Details</h1>
  
  <body *ngFor="let product of item$">
    <img src="../../assets/img/{{product.image}}"
         alt="no image" width="428" height="428" Align="left" HSPACE="50" VSPACE="50" position:relative/>
    <h3>Product Name: </h3> <p>{{product.productName}}</p>   
    
    <h3> Description: </h3>
    <p>
      {{product.productDesc}}

    </p>
    <h3 class=price type="text" style="display:inline-block">Price:$</h3> {{product.price}}
    <h3 class=amt type="text" style="display:inline">Amt. In Stock: #</h3> {{product.quantity}}
    <br/>
    <h3 style="display:inline">Amnt. to Add: </h3>
    <select class =sel style="display:inline">
      <option value="one">1</option>
      <option value="two">2</option>
      <option value="three">3</option>
      <option value="four">4</option>
    </select>
    <button class=addToCart type="submit">Add to Cart</button>
    <BR CLEAR="left"/>

  </body>
</html>


