<!DOCTYPE html>
<html>
    <p *ngIf="login_message != 'no'">
        <button class="button_right" button #submit (click)="signOut()">
          <p class="buttonText">Sign Out</p>
        </button>
    </p>
<h1 class=pdetails>Electronic Details</h1>

  <body *ngFor="let product of item$">
      <h3>Product Name: </h3> <p>{{product.productName}}</p>
      <div class="carousel-w">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="../../assets/img/{{product.image}}" alt="{{product.productName}}" width="428" height="428">
            </ng-template>

          <ng-template ngbSlide>
              <img src="../../assets/img/{{product.image2}}" alt="{{product.productName}}" width="428" height="428">
            </ng-template>

          <ng-template ngbSlide>
              <img src="../../assets/img/{{product.image3}}" alt="{{product.productName}}" width="428" height="428">
            </ng-template>
          </ngb-carousel>
        </div>

    <h3> Description: </h3>
    <p>
      {{product.productDesc}}

    </p>
    <h3 class=price type="text" style="display:inline-block">Price:$</h3> {{product.price}}
    <h3 class=amt type="text" style="display:inline">Amt. In Stock: #</h3> {{product.quantity}}
    <br/>
    <h3 style="display:inline">Amnt. to Add: </h3>
    <input type="number" name="quantity" min="1" max="{{product.quantity}}" value=1>

    <button class=addToCart type="submit">Add to Cart</button>
    <BR CLEAR="left"/>

  </body>
</html>


