<script src="../path/to/angular-url-encode/dist/angular-url-encode.js"></script>
<p>

<p *ngIf="login_message != 'no'">
    <button class="button_right" button #submit (click)="signOut()">
      <p class="buttonText">Sign Out</p>
    </button>
</p>

<p *ngIf="login_message != 'yes'">
    <a routerLink="sign-in">
        <button class="button_right">
          <p class="buttonText">Sign In</p>
        </button>
      </a>
</p>

<h1 class="center">
  Home
</h1>

<hr>
<div class="carousel-w">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="../assets/resized_img/airpods.jpg" alt="AirPods">
        <div class="carousel-caption">
          <h3>We sell AirPods!</h3>
        </div>
      </ng-template>

    <ng-template ngbSlide>
        <img src="../assets/resized_img/appletv.jpg" alt="4k Apple TV">
        <div class="carousel-caption">
          <h3>We sell 4K Apple TV's!</h3>
        </div>
      </ng-template>

    <ng-template ngbSlide>
        <img src="../assets/resized_img/beats.jpg" alt="Beats">
        <div class="carousel-caption">
          <h3>We sell Beats!</h3>
        </div>
      </ng-template>

    <ng-template ngbSlide>
      <img src="../assets/resized_img/drone.jpg" alt="Drone">
      <div class="carousel-caption">
        <h3>We sell Drones!</h3>
      </div>
    </ng-template>

    <ng-template ngbSlide>
        <img src="../assets/resized_img/ipad-pro.png" alt="iPad Pro">
        <div class="carousel-caption">
          <h3>We sell iPad's!</h3>
        </div>
      </ng-template>

      <ng-template ngbSlide>
          <img src="../assets/resized_img/mac-air.jpg" alt="MacBook Air">
          <div class="carousel-caption">
            <h3>We sell MacBook Air laptop's!</h3>
          </div>
        </ng-template>

        <ng-template ngbSlide>
            <img src="../assets/resized_img/macbook.jpg" alt="MacBook">
            <div class="carousel-caption">
              <h3>We sell MacBook laptop's!</h3>
            </div>
          </ng-template>

          <ng-template ngbSlide>
              <img src="../assets/resized_img/watch.jpg" alt="Apple Watch">
              <div class="carousel-caption">
                <h3>We sell Apple Watches!</h3>
              </div>
            </ng-template>

    </ngb-carousel>
  </div>

<br><br>
<div>
  <p> Search for a product:
  <input type="text" (keyup)="onNameKeyUp($event)">
   <button (click)="getProductInfo()">Search</button>
</p>
</div>
<p>Product Information</p>

<div *ngFor="let item of items$">
  <span>{{item.productName}}</span> <br>
  <span>{{item.price}}</span> <br>
  <span>{{item.productDesc}}</span>
</div>
