
<p>
    <a routerLink="sign-in">
        <button class="button_right">
          <p class="buttonText">Sign In</p>
        </button>
      </a>
</p>

<h1 class="center">
  Home
</h1>

<hr>
<p>
  <img src="./assets/img/macbook.png" style="width:600px;height:300px;" class="center">
</p>

<br><br>
<div>
  <p> Search for a product:
  <input type="text" (keyup)="onNameKeyUp($event)">
  <button (click)="getProductDescription()">Search</button>
</p>
</div>
<p>Product Information</p>

<div *ngIf="found">
  
    {{name}} is {{price}}
  <span>{{productDesc}}</span>
</div>
