<div *ngIf="login_message != 'yes'">
    <h1>Please sign-in to make a purchase.</h1>
    <ul>
        <li>
          <button class="btn btn-primary" style="background: #8FD8D2;margin-top: 5px;
          margin-right: 30px;
          position:absolute;
          top:0;
          border: none;
          right:0;
          color: white;" routerLink="../sign-in">
                <p class="buttonText">Go to Sign In</p>
              </button>
        </li>
      </ul>
      <br><br>
      <hr>
  </div>

<div *ngIf="login_message == 'yes'">
<h3 style="text-align:center;"><strong>Checkout</strong></h3>
<br>
<div>
    <div >
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="firstName">Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
              <label for="address">Street</label>
              <input type="text" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required />
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                  <div *ngIf="address.errors.required">Street is required</div>
              </div>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                    <div *ngIf="city.errors.required">City is required</div>
                </div>
              </div>
              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" name="state" [(ngModel)]="model.state" #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required />
                  <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                      <div *ngIf="state.errors.required">State is required</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="zip">Zip Code</label>
                    <input type="number" class="form-control" name="zip" [(ngModel)]="model.zip" #zip="ngModel" [ngClass]="{ 'is-invalid': f.submitted && zip.invalid }" required/>
                    <div *ngIf="f.submitted && zip.invalid" class="invalid-feedback">
                        <div *ngIf="zip.errors.required">Zip is required</div>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="card">Card Number</label>
                    <input type="number" class="form-control" name="card" [(ngModel)]="model.card" #card="ngModel" [ngClass]="{ 'is-invalid': f.submitted && card.invalid }" required/>
                    <div *ngIf="f.submitted && card.invalid" class="invalid-feedback">
                        <div *ngIf="card.errors.required">Card number is required</div>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="pin">Security Pin</label>
                    <input type="number" class="form-control" name="pin" [(ngModel)]="model.pin" #pin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pin.invalid }" required/>
                    <div *ngIf="f.submitted && pin.invalid" class="invalid-feedback">
                        <div *ngIf="pin.errors.required">Security pin is required</div>
                    </div>
                  </div>
            <div class="form-group">
              <button class="btn btn-primary"
              style="background: #8FD8D2;
              border: none;">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
