h3{
  background-color: #8FD8D2;
}

.img{
  margin: 0 auto;
}

.carousel-w{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 0px;
  padding: inherit;
  // align-self: baseline;
}
.search{
  margin-left: auto;
  position: fixed;
}
