<body>
<!-- <div *ngIf="login_message != 'no'">
  <button class="button_center" button #submit (click)="signOut()">
      <p class="buttonText">Sign Out</p>
  </button>
</div> -->
<br><br>
<h1><strong>Thank You for Shopping With Us!</strong></h1>
<p>Your order will be shipped to you within 3 to 5 business days.</p>


<br><br>
<div>
  <br>
  <button class="button_center" (click)="continueShopping()">
    <p class="buttonText">Continue Shopping</p>
  </button>
</div>
<br>
  <div *ngIf="login_message != 'no'">
      <button class="button_center" button #submit (click)="signOut()">
          <p class="buttonText">Sign Out</p>
      </button>
  </div>
</body>


<footer>
    <hr>
    CST438. 2018 &copy; Manjit Gurcha. Raeleen Watson. Irais Gopar <br />
</footer>
