<body *ngIf="userCreditMessage != 'enough'">
<br><br>
<h1>
  Sorry, your order could not be completed due to insufficient funds.
</h1>
<h3 style="text-align:center;">Your current balance is ${{ this.user_credit | number:"0.2"}} while the total of your order was 
    ${{ this.total | number:"0.2" }}.</h3>
<br>
  <div *ngIf="login_message != 'no'">
    <button class="btn btn-primary"
    style="background: #8FD8D2;
    border: none;
    text-align:center"
    button #submit (click)="signOut()">
          <p class="buttonText">Sign Out</p>
      </button>
  </div>
</body>

<body *ngIf="userCreditMessage == 'enough'">
<h1>
  Your Order # is: <strong>{{confirmationNumber()}}</strong><br>
  Thank You for Shopping With Us!
</h1>
<p>Your order will be shipped to you within 3 to 5 business days.</p>


<br><br>
<br>
  <div *ngIf="login_message != 'no'">
    <button class="btn btn-primary"
    style="background: #8FD8D2;
    border: none;
    text-align:center"
    button #submit (click)="signOut()">
          <p class="buttonText">Sign Out</p>
      </button>
  </div>
</body>


<footer>
    <hr>
    CST438. 2018 &copy; Manjit Gurcha. Raeleen Watson. Irais Gopar <br />
</footer>
