<h1 class= heading>Reciept</h1>
<body>
  <table class="table1">
    <tr>
      <th>Amount</th>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
  <div class = "Final">
      <h3 class=amt type="text" style="display:inline">Total Items: </h3>
      <h3 class=price type="text" style="display:inline-block">Total Price:$</h3>
  </div>
  <!--<div class = "thanks">-->
    <h1 class=ThankYou><strong>Thank You for Shoping With Us!</strong></h1>
  <!--</div>-->
</body>
